/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    LascauxZelia/PanGenome_Pipeline Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

// Global default params, used in configs
params {
    //set input type
    genomes                    = "null"

    //Prokka
    kingdom                    = "Bacteria"
    genus                      = "null"
    species                    = "null"
    strain                     = "null"
    mincontiglen               = "null"

    //Iqtree
    bootstrap                  = 1000
    ncat                       = 10
    prefix                     = "core_genome"

    //Scorary
    pvalue                     ='1E-4'
    evalue                     ='10000'

    // Boilerplate options
    resultsDir                 = 'results'
    publish_dir_mode           = 'copy'
    help                       = false
    h                          = false
    cpus                       = 8
    python3                    = "/opt/conda/envs/pangenome/bin/python3"

}

profiles {
    singularity {
        enabled = true
        autoMounts = true 
    }
}

manifest {
    name            = 'sieve'
    author          = """Z. Bontemps"""
    homePage        = 'https://github.com/LascauxZelia/PanGenome_Pipeline'
    description     = """This pipeline analyses genomic data, annotation, tree and pangenome"""
    mainScript      = 'main.nf'
    nextflowVersion = '!>=23.04.0'
    version         = '1.0dev'
    doi             = ''
}
